<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AutoLink - 开源优测自动化测试集成解决方案</title>

        <meta name="keywords" content="AutoLink, 开源优测, AutoLine, 苦叶子, web ide"/>
        <meta name="description" content="A Web-based IDE for Auto Testing using Auto Open Source Testing Framework, do your development anytime, anywhere."/>
        <meta name="author" content="苦叶子">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sign.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    </head>
    <body>
        <div class="header">
            <div class="wrapper fn-clear">
                <a href="/" rel="login">
                    <img title="AutoLink, A Web-based IDE for Auto Testing using Auto Open Source Testing Framework." src="{{ url_for('static', filename='img/logo.png') }}"
                         class="logo"/></a>
                <ul class="fn-right">
                    <li><a href="http://weixin.sogou.com/weixin?type=1&s_from=input&query=%E5%BC%80%E6%BA%90%E4%BC%98%E6%B5%8B&ie=utf8&_sug_=n&_sug_type_=" target="_blank" style="color: #cd504a">公众号</a></li>
                    <li><a rel="help" href="#" target="_blank">读书会</a></li>
                    <li><a href="https://github.com/small99" target="_blank">GitHub</a></li>
                    <li><a href="https://gitee.com/lym51" target="_blank">码云</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="wrapper fn-clear">
                <div class="fn-left">
                    <h2>All in AutoLink</h2>
                    <h3>Auto Testing with Open Source Framework on the AutoLink way.</h3>
                </div>
                <div class="form fn-right">
                    <div id="msg" class="fn-none"></div>
                    <form id="login_fm" action="/api/v1/auth/" method="post">
                        <input id="username" name="username" placeholder="用户名"/><br/>
                        <input id="password" name="password" type="password" placeholder="密码"/><br/>
                        <input class="btn-white btn" type="button" value="登录" onclick="do_login('login_fm')"></input>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="wrapper">
                &copy;  苦叶子
            </span>
        </div>
        <script src="{{ url_for('static', filename='lib/easyui/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/easyui/jquery.easyui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/auto.js') }}"></script>
    </body>
</html>